{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Camera | Was This The Face</title>
        {% include 'head.html' %}
        <style>
            {% comment %} .container2 {
                margin: 0px auto;
            } {% endcomment %}
            {% comment %} body {
                margin: 0;
                height: 0;
                width: 100vw;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            canvas{
                position: absolute;
            } {% endcomment %}
        </style>
        {% comment %} <script defer src="{% static 'assets/js/plugins/face-api.min.js' %}"></script>
        <script defer src="{% static 'assets/js/face.js' %}"></script> {% endcomment %}
    </head>

    <body>
        {% comment %} <video id="video" width="720" height="500" autoplay muted></video> {% endcomment %}
    </body>
    {% comment %} <body data-color="blue" onload="switchPage()">
        <div class="wrapper wrapper-full-page">
            <div class="full-page  section-image">
                <br>
                <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
                <div class="content">
                    <div class="container container2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card ">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-md-12 text-center face">
                                                <video autoplay="true" id="videoElement" style="max-width:100%; object-fit: cover;"></video>
                                                <br>
                                                <a href="{% url 'index' %}"><button class="btn" style="background-color: black; font-family: Courier">capture photo</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% include 'foot.html' %}
    <script>
        $(document).ready(function() {
            demo.checkFullPageBackgroundImage();

            setTimeout(function() {
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700)
        });
        
        var video = document.querySelector("#videoElement");
        navigator.getUserMedia = navigator.getUserMedia||navigator.webkitGetUsermedia||navigator.mozGetUserMedia||navigator.msGetUserMedia||navigator.oGetUserMedia;
        if (navigator.getUserMedia) {
            navigator.getUserMedia({video:true}, handleVideo,videoError);
        }
        function handleVideo(stream){
            video.srcObject = stream; 
            video.play(); 
        }
        function videoError(e){

        }
    
        function switchPage(){
            var height = screen.height;
            var totalHeight = (35/100)*height;
            height = height - totalHeight;
            height = height.toString();
            height = height.concat('px');
            document.getElementById('videoElement').style.height = height;
        }
    </script> {% endcomment %}
</html>