{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Camera | Was This The Face</title>
        {% include 'head.html' %}
        <style>
            .container2 {
                margin: 0px auto;
                width: 700px;
                height: 350px;
            }
        </style>
    </head>

    <body data-color="blue">
        <div class="wrapper wrapper-full-page">
            <div class="full-page  section-image">
                <br>
                <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
                <div class="content">
                    <div class="container container2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card ">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <video autoplay="true" id="videoElement"></video>
                                                <br>
                                                <a href="{% url 'index' %}"><button class="btn" style="background-color: black;">Capture Photo</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% include 'foot.html' %}
    <script>
        $(document).ready(function() {
            demo.checkFullPageBackgroundImage();

            setTimeout(function() {
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700)
        });
        var video = document.querySelector("#videoElement");
        navigator.getUserMedia = navigator.getUserMedia||navigator.webkitGetUsermedia||navigator.mozGetUserMedia||navigator.msGetUserMedia||navigator.oGetUserMedia;
        if (navigator.getUserMedia) {
            navigator.getUserMedia({video:true}, handleVideo,videoError);
        }
        function handleVideo(stream){
            video.srcObject = stream; 
            video.play(); 
        }
        function videoError(e){

        }
    </script>
</html>