{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Camera | Was This The Face</title>
        {% include 'head.html' %}
        <style>
            .container2 {
                margin: 0px auto;
                width: 700px;
                height: 350px;
            }
        </style>
    </head>

    <body data-color="blue">
        <div class="wrapper wrapper-full-page">
            <div class="full-page  section-image" data-image="{% static 'assets/img/bg.png' %}">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-transparent">
                    <div class="container">
                        <div class="navbar-wrapper">
                            <div class="logo" style="margin-top: 50px;">
                                <a href="#" class="simple-text logo-mini">
                                    <img src="{% static 'assets/img/logo.png' %}" style="max-width: 150px;" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
                <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
                <div class="content">
                    <div class="container container2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card ">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <video autoplay="true" id="videoElement"></video>
                                                <br>
                                                <button class="btn btn-primary">Capture Photo</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer" style="margin-top: 50px;">
                <div class="container">
                    <p class="copyright">
                        © 2020 Powered By
                        <a href="http://www.esquall.com">eSquall Inc.</a>
                    </p>
                </div>
            </footer>
        </div>
    </body>
    {% include 'foot.html' %}
    <script>
        $(document).ready(function() {
            demo.checkFullPageBackgroundImage();

            setTimeout(function() {
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700)
        });
        var video = document.querySelector("#videoElement");
        navigator.getUserMedia = navigator.getUserMedia||navigator.webkitGetUsermedia||navigator.mozGetUserMedia||navigator.msGetUserMedia||navigator.oGetUserMedia;
        if (navigator.getUserMedia) {
            navigator.getUserMedia({video:true}, handleVideo,videoError);
        }
        function handleVideo(stream){
            video.srcObject = stream; 
            video.play(); 
        }
        function videoError(e){

        }
    </script>
</html>