{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Home | Was This The Face</title>
        {% include 'head.html' %}
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
        <style>
            @font-face {
                font-family: Avenir;
                src: url('../static/assets/fonts/arial.ttf');
            }
            div a {
                color: #C1C1C1;
                text-decoration: none;
                font-family: Avenir;
            }

            a:hover{
                color: #A9A9A9;
            }
        </style>
    </head>

    <body onload="switchPage()">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-12 text-center ">
                            <img src="{% static 'assets/img/second.png' %}" id="face" alt="" style="max-width: 100%;">
                            <br>
                            <!--<p id="link" style="float: right;"><a href="https://www.emilyerekson.com/installations" target="_blank">Emily Erekson</a> &amp; <a href="https://www.jamieerekson.com/installations" target="_blank">Jamie Erekson</a></p>-->
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4 text-left">
                                    <a href="{% url 'instructions' %}" class="pull-left" style="font-size: 12px; letter-spacing: 0;">
                                        <b>CLICK HERE TO ADD <br> YOUR FACE</b>
                                    </a>
                                    <a href="#" id="about" class="pull-right" style="font-size: 12px; letter-spacing: 0;"><br>ABOUT</a>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<p id="link"><a href="https://www.emilyerekson.com/installations">Emily Erekson</a> &amp; <a href="https://www.jamieerekson.com/installations">Jamie Erekson</a></p>-->
    </body>
    {% include 'foot.html' %}
    <script>
        $(document).ready(function() {
            demo.checkFullPageBackgroundImage();

            setTimeout(function() {
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700)
        });

        function switchPage(){
            var height = screen.height;
            var totalHeight = (24/100)*height;
            height = height - totalHeight;
            height = height.toString();
            height = height.concat('px');
            document.getElementById('face').style.height = height;
            setTimeout(function () {
                window.location.href = "/flash";
                window.clearTimeout(tID);		// clear time out.
            }, 30000);
        }
    </script>
</html>