{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Was This The Face</title>
        <style>
            body {
                background-color: black;
                text-align: center;
            }
            .row a {
                color: white;
                text-decoration: none;
            }
        </style>
    </head>

    <body>
        <div class="row" style="position: absolute; top: 50%; left: 45%; font-family: Courier">
            <a href="{% url 'home' %}">was this the face</a>
        </div>
    </body>
</html>