{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Instructions | Was This The Face</title>
        {% include 'head.html' %}
    </head>

    <body>
        <div class="wrapper wrapper-full-page">
            <div class="full-page  section-image" data-image="{% static 'assets/img/bg.png' %}" ;>
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-transparent">
                    <div class="container">
                        <div class="navbar-wrapper">
                            <div class="logo" style="margin-top: 50px;">
                                <a href="#" class="simple-text logo-mini">
                                    <img src="{% static 'assets/img/logo.png' %}" style="max-width: 150px;" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
                <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body table-full-width table-responsive" style="margin-top: 50px; ">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <table class="table table-hover table-striped" style="margin-left: 40px;">
                                                    <thead>
                                                        <th>Directions</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Allow for adequate lightning.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Remove eyeglasses and face coverings (you may wear a hat or head covering as long as your hairline is still visible).</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Sit up straight and drop your shoulders.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Face the camera directly with your head centered in the frame. Make sure your full face is in view and both ears are visible.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Look directly at the camera with a neutral expression.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Background will be automatically removed.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Only one photo will be accepted per user.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-6 ml-auto mr-auto">
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <img src="{% static 'assets/img/instructions.png' %}" alt="" style="max-height: 70%; max-width: 70%;">
                                                        <br><br>
                                                        <a href="{% url 'camera' %}"><button class="btn btn-primary">Open Camera</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
    </body>
    {% include 'foot.html' %}
    <script>
        $(document).ready(function() {
            demo.checkFullPageBackgroundImage();

            setTimeout(function() {
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700)
        });
    </script>
</html>