{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Log In | Was This The Face</title>
        {% include 'head.html' %}
    </head>

    <body>
        <div class="wrapper wrapper-full-page">
            <div class="full-page  section-image" data-image="{% static 'assets/img/bg.png' %}" ;>
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-transparent">
                    <div class="container">
                        <div class="navbar-wrapper">
                            <div class="logo" style="margin-top: 50px;">
                                <a href="#" class="simple-text logo-mini">
                                    <img src="{% static 'assets/img/logo.png' %}" style="max-width: 150px;" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
                <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
                <div class="content">
                    <div class="container">
                        <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                            <form class="form" action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <div class="card card-login card-hidden">
                                    <div class="card-header ">
                                        <h3 class="header text-center">Log In</h3>
                                    </div>
                                    <div class="card-body ">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" placeholder="Username" class="form-control" name="username" required autofocus>
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" placeholder="Password" class="form-control" name="password" required autofocus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer ml-auto mr-auto">
                                        <button type="submit" class="btn btn-primary btn-wd">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
    </body>
    {% include 'foot.html' %}
    <script>
        $(document).ready(function() {
            demo.checkFullPageBackgroundImage();

            setTimeout(function() {
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700)
        });
    </script>
</html>