{% load static %}
<div class="sidebar" data-color="blue" data-image="{% static 'assets/img/sidebar-5.jpg' %}">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text logo-mini">
                <img src="{% static 'assets/img/favicon.png' %}" alt="" style="max-width: 24px;">
            </a>
            <a href="#" class="simple-text logo-normal">
                <img src="{% static 'assets/img/text1.png' %}" alt="" style="max-width: 172px;">
            </a>
        </div>
        <div class="user">
            <div class="photo">
                <img src="{% static 'assets/img/default-avatar.png' %}" />
            </div>
            <div class="info ">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    <span>Tania Andrew</span>
                </a>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'faceapp:dashboard' %}">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'faceapp:photos_database' %}">
                    <i class="nc-icon nc-layers-3"></i>
                    <p>Photos Database</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#track">
                    <i class="nc-icon nc-app"></i>
                    <p>
                        Audio Track
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse " id="track">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'faceapp:add_audio' %}">
                                <span class="sidebar-mini">AAA</span>
                                <span class="sidebar-normal">Add An Audio</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'faceapp:audio_track_list' %}">
                                <span class="sidebar-mini">ATL</span>
                                <span class="sidebar-normal">Audio Track List</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#settings">
                    <i class="nc-icon nc-settings-gear-64"></i>
                    <p>
                        Settings
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse " id="settings">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'faceapp:profile' %}">
                                <span class="sidebar-mini">EP</span>
                                <span class="sidebar-normal">Edit Profile</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'logout' %}">
                                <span class="sidebar-mini">LO</span>
                                <span class="sidebar-normal">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>